{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Customer ID</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for i in customers %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>CUSTOMER{{i.id}}</td>
          <td>{{i.name}}</td>
            <td><a href="/select_customer/{{i.id}}">view full details</a></td>
        </tr>
      {% endfor %}


  </tbody>
</table>
    <hr>






{% endblock content %}