{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Never spend your money before you have it.</h1>
                                             <h3>Thomas Jefferson.</h3>

                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Do not save what is left after spending, but spend what is left after saving.</h1>
                                             <h3>Warren Buffett. </h3>

                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>The price of anything is the amount of life you exchange for it. </h1>
                                             <h3>Henry David Thoreau.</h3>

                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>




{% endblock content %}