{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Transaction ID</th>
      <th scope="col">Transact From</th>
      <th scope="col">Transact To</th>
      <th scope="col">Amount(Rs)</th>
      <th scope="col">Date and Time</th>

    </tr>
  </thead>
  <tbody>
      {% for i in transactions %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>TRANS{{i.id}}</td>
          <td>{{i.from_customer.name}}</td>
          <td>{{i.to_customer.name}}</td>
          <td>{{i.amount}}</td>
          <td>{{i.trans_date}}</td>
        </tr>
      {% endfor %}


  </tbody>
</table>
    <hr>


{% endblock content %}